Repository sqlectron/sqlectron-db-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"]
}

Apply CR suggestion moving back to eslint json file
  .eslintrc.js
  .eslintrc.json
Due: eslint --fix, prettier --write

Configure prettier and husky (#26)
  .eslintrc.json
  .github/workflows/test.yml
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  spec/.eslintrc.json
  spec/databases/cassandra/setup.ts
  spec/databases/config.ts
  spec/databases/sqlite/setup.ts
  spec/db.spec.ts
  spec/utils.spec.ts
  src/adapters/abstract_adapter.ts
  src/adapters/cassandra.ts
  src/adapters/index.ts
  src/adapters/mysql.ts
  src/adapters/postgresql.ts
  src/adapters/sqlite.ts
  src/adapters/sqlserver.ts
  src/database.ts
  src/errors.ts
  src/filters.ts
  src/logger.ts
  src/server.ts
  src/tunnel.ts
  src/utils.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

Add ssh agent support
  .gitignore
  README.md
  docker-compose.yml
  spec/db.spec.ts
  src/server.ts
  src/tunnel.ts
Due: eslint --fix, prettier --write

Move agent socket to temp folder
  .gitignore
  spec/db.spec.ts
Due: eslint --fix, prettier --write

SSH agent support (#27)
  README.md
  docker-compose.yml
  spec/db.spec.ts
  src/server.ts
  src/tunnel.ts
Due: eslint --fix, prettier --write

Use docker-compose to execute containers
  docker-compose.yml
  scripts/setup-schemas.sh
Due: none

Use docker-compose for CI setup
  .env
  .github/workflows/test.yml
  docker-compose.yml
  scripts/env-docker-hosts.sh
  scripts/setup-schemas.sh
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Fix minimum node version detection in the tests
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Remove not needed npm installation
  .github/workflows/test.yml
Due: none

Use a variable to set the MSSQL_COLLATION value
  .env
  .github/workflows/test.yml
  docker-compose.yml
Due: none

Simplify ssh config setup in the tests
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Move default env variable values into the docker-compose file
  .env
  .github/workflows/test.yml
  docker-compose.yml
Due: none

Use docker-compose for CI setup (#28)
  .github/workflows/test.yml
  docker-compose.yml
  scripts/env-docker-hosts.sh
  scripts/setup-schemas.sh
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Fix vulnerability at xmldom from mssql
  package-lock.json
Due: prettier --write

Fix vulnerability at xmldom from mssql (#29)
  package-lock.json
Due: prettier --write

0.8.0
  package-lock.json
  package.json
Due: prettier --write

Add doc of how to publish a new release
  CONTRIBUTING.md
Due: prettier --write

Fix README badge icon pointing to wrong branch
  README.md
Due: prettier --write

bump version of @masterodin/publisher
  package-lock.json
  package.json
Due: prettier --write

update .npmignore file
  .npmignore
Due: none

remove rootDir tsconfig setting
  tsconfig.json
Due: prettier --write

0.8.1
  package-lock.json
  package.json
Due: prettier --write

Fix ssh agent test on MacOS
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Add doc of how to publish a new release (#30)
  CONTRIBUTING.md
Due: prettier --write

Fix ssh agent test on MacOS (#31)
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Export types and methods used by sqlectron-gui
  src/index.ts
Due: eslint --fix, prettier --write

Export types and methods used by sqlectron-gui (#32)
  src/index.ts
Due: eslint --fix, prettier --write

0.9.0
  package-lock.json
  package.json
Due: prettier --write

Add protocol info to adapters for connection uri support
  src/adapters/index.ts
Due: eslint --fix, prettier --write

Add protocol info to adapters for connection uri support (#33)
  src/adapters/index.ts
Due: eslint --fix, prettier --write

0.10.0
  package-lock.json
  package.json
Due: prettier --write

Migrate to package-lock.json v2
  package-lock.json
Due: prettier --write

Bump dep versions in package-lock.json
  package-lock.json
Due: prettier --write

Bump nyc to ^15.1.0
  package-lock.json
  package.json
Due: prettier --write

Fix workflows not running on branches with backwards slash
  .github/workflows/test.yml
Due: none

Update mocha to ^8.4.0
  package-lock.json
  package.json
Due: prettier --write

Bump ssh2 to ~1.4.0
  package-lock.json
  package.json
Due: prettier --write

try lower version of ssh2
  package-lock.json
  package.json
Due: prettier --write

try ~1.0.0
  package-lock.json
  package.json
Due: prettier --write

Update to 1.6.0
  package-lock.json
  package.json
Due: prettier --write
