Repository sqlectron/sqlectron-db-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"]
}

Bump ssh2 to ^1.6.0 (#36)
  package-lock.json
  package.json
Due: prettier --write

0.10.1
  package-lock.json
  package.json
Due: prettier --write

Drop support for node 10
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --write

Bump mocha to ^9.2.0
  package-lock.json
  package.json
Due: prettier --write

Allow filter to be optional to adapter methods
  src/adapters/abstract_adapter.ts
  src/adapters/postgresql.ts
  src/adapters/sqlite.ts
  src/adapters/sqlserver.ts
  src/database.ts
Due: eslint --fix, prettier --write

fix lint error sqlite
  src/adapters/sqlite.ts
Due: eslint --fix, prettier --write

Allow filter to be optional to adapter methods (#37)
  src/adapters/abstract_adapter.ts
  src/adapters/postgresql.ts
  src/adapters/sqlite.ts
  src/adapters/sqlserver.ts
  src/database.ts
Due: eslint --fix, prettier --write

Update typescript to ^4.5.5
  package-lock.json
  package.json
  src/adapters/mysql.ts
  src/adapters/sqlite.ts
  src/adapters/sqlserver.ts
Due: eslint --fix, prettier --write

Bump sql-query-identifier to ^2.2.4
  package-lock.json
  package.json
Due: prettier --write

0.11.0
  package-lock.json
  package.json
Due: prettier --write

Normalize field type for mysql
  src/adapters/mysql.ts
Due: eslint --fix, prettier --write

Update sqlite3 to 5.1.7
  package-lock.json
  package.json
Due: prettier --write

Fix lint error for sqlite adapter
  src/adapters/sqlite.ts
Due: eslint --fix, prettier --write

Update usage of docker-compose in CI
  .github/workflows/test.yml
  CONTRIBUTING.md
  scripts/setup-schemas.sh
Due: prettier --write

Add support for ed25519 login for mariadb
  package-lock.json
  package.json
  spec/databases/config.ts
  spec/databases/mysql/mariadb.spec.ts
  src/adapters/mysql.ts
Due: eslint --fix, prettier --write

Update ssh2 package
  package-lock.json
  package.json
Due: prettier --write

adjust mariadb create script
  spec/db.spec.ts
Due: eslint --fix, prettier --write

Update tested versions in CI
  .github/workflows/test.yml
Due: none

Update GH action versions
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

Setup publish workflow to use OIDC
  .github/workflows/publish.yml
Due: none

Update run conditions for test workflow
  .github/workflows/test.yml
Due: none

Update username/password for test
  spec/databases/mysql/mariadb.spec.ts
Due: eslint --fix, prettier --write

update authPlugin name
  src/adapters/mysql.ts
Due: eslint --fix, prettier --write

Add support for ed25519 login for mariadb (#41)
  package-lock.json
  package.json
  spec/databases/config.ts
  spec/databases/mysql/mariadb.spec.ts
  src/adapters/mysql.ts
Due: eslint --fix, prettier --write

Update pg package
  package-lock.json
  package.json
  src/adapters/postgresql.ts
Due: eslint --fix, prettier --write

Remove unneeded @types/sqlite3
  package-lock.json
  package.json
Due: prettier --write

Update sql-query-identifier package
  package-lock.json
  package.json
Due: prettier --write

Set minimum supported node version to 18
  package-lock.json
  package.json
Due: prettier --write

Bump version to 0.12.0
  package-lock.json
  package.json
Due: prettier --write

Ensure on latest npm for publish workflow
  .github/workflows/publish.yml
Due: none

Use node 20.x for publish workflow
  .github/workflows/publish.yml
Due: none
